{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="column">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="../static/other_pics/alex.jpg" alt="Alex" style="width:100%">
        <div class="card-body">
            <h2>Alex Ipatov</h2>
            <p class="font-italic">Computer science student, chess grandmaster</p>
            <p> I am a passionate and self-motivated individual who loves to learn something new every day!</p>
            <p> <mark>Contact:</mark>ipatovo[AT]slu[DOT]edu</p>
            <p> <mark>Github:</mark><a href= "https://github.com/satrancci">https://github.com/satrancci</a></p>
            <p> <mark>LinkedIn:</mark><a href= "https://www.linkedin.com/in/alexander-ipatov/">https://www.linkedin.com/in/alexander-ipatov/</a></p>
            
        </div>
        </div>
    </div>
</div>
{% endblock content %}