bcrypt
blinker
certifi
cffi
click
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
gunicorn
Jinja2
MarkupSafe
Pillow
psycopg2
psycopg2-binary
pycparser
six
SQLAlchemy
Werkzeug
WTForms
keras==2.2.5
opencv-python==3.4.4.19
numpy
tensorflow==2.5.1
